/* this was done for troubleshooting I will probably merge these back soon */
@import url('page-header-layout.css');
.logo {
    background-color:var(--gray-dark);
    color: var(--brand-second);
}

.nav-top, .nav, .nav-bottom {
    background-color: var(--brand-primary);
}

.bio {
    background-image: url('https://edcharbeneau.com/img/ed-speaking1.jpg');
    border-bottom-left-radius: 1em;
}

.cta {
    background-color: var(--brand-second);
    border-bottom-right-radius: 1em;
}

.nav a {
    text-transform: uppercase;
    color: var(--white);
    text-decoration: none;
    border-radius: .25rem;
}

.nav a:hover {
    background-color: var(--white);
    color:var(--brand-second);
}